block content
    .bg-box 
        img.bg-box__img(src="../img/bg-1.jpg", alt="bg")
        img.troll.troll-1(src="../img/trolls/troll-1.png", alt="troll")
        img.troll.troll-2(src="../img/trolls/troll-2.png", alt="troll")
    section.main
        .container 
            h1.title.t-center Hall of fame
            p.descr.t-center 
                | Have you ever dreamed of taking part in a tournament? 
                br 
                | Galloping on a horse while holding a spear and trying to knock your enemy out of…
            button.btn Join now

            .winner 
                .winner__card 
                    .winner__position 
                        img.winner__position__img(src="img/position/position-2.svg", alt="position 2")
                        .winner__position__avatar.winner__position__avatar-1
                    .winner__info 
                        .winner__info__bg.winner__info__bg-1
                        .winner__info__name.winner__info__name-1 AP184*** 
                        .winner__info__money 
                            img.winner__info__money__img(src="img/info/info-1.svg", alt="info")
                            .winner__info__money__bet Bet
                            .winner__info__money__bet €61
                            .winner__info__money__win Win
                            .winner__info__money__win  €1852

                .winner__card 
                    .winner__position
                        img.winner__position__img.winner__position__img-top(src="img/position/position-1.svg", alt="position 1") 
                        .winner__position__avatar.winner__position__avatar-2
                    .winner__info 
                        .winner__info__bg.winner__info__bg-2
                        .winner__info__name.winner__info__name-2 Kate*** 
                        .winner__info__money 
                            img.winner__info__money__img(src="img/info/info-2.svg", alt="info")
                            .winner__info__money__bet Bet
                            .winner__info__money__bet €521
                            .winner__info__money__win Win
                            .winner__info__money__win  €9852

                .winner__card 
                    .winner__position
                        img.winner__position__img(src="img/position/position-3.svg", alt="position 3")
                        .winner__position__avatar.winner__position__avatar-3
                    .winner__info 
                        .winner__info__bg.winner__info__bg-3
                        .winner__info__name.winner__info__name-3 Lig*** 
                        .winner__info__money 
                            img.winner__info__money__img(src="img/info/info-3.svg", alt="info")
                            .winner__info__money__bet Bet
                            .winner__info__money__bet €107
                            .winner__info__money__win Win
                            .winner__info__money__win  €5852
    section.participant 
        .container
            h2.subtitle.t-center Top winners
            .participant__imgs 
                img.participant__img(src="../img/fire/fire.svg", alt="fire")
                img.participant__img(src="../img/fire/fire.svg", alt="fire")
            table 
                thead 
                        th Place
                        th Player 
                        th Score 
                        th Prize
                tbody 
                    tr  
                        td 
                            img(src="../../icons/top/top-1.svg", alt="top 1")
                            span 1
                        td Anja
                        td 3.851
                        td 10000€
                    tr  
                        td 
                            img(src="../../icons/top/top-2.svg", alt="top 2")
                            span 2
                        td Vasja
                        td 3.753
                        td 9500€
                    tr  
                        td 
                            img(src="../../icons/top/top-3.svg", alt="top 3")
                            span 3
                        td Dima
                        td 3.612
                        td 9000€
                    tr  
                        td 4
                        td Kolja
                        td 3.121
                        td 8000€
                    tr  
                        td 5
                        td Pasha
                        td 3.032
                        td 7000€
            button.btn.btn__results Show all results
    .bg-box__footer
        img.bg-box__img(src="../img/bg-2.jpg", alt="bg")
